<h2 style="color:white;">Sign In</h2>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <label for="inputUsername" style="color:white;">Username</label>
    <input type="text" [(ngModel)]="user.username" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
  <div class="form-group">
    <label for="unputPassword" style="color:white;">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Sign In</button>
  	<div class="etc-login-form">
  		 <a [routerLink]="['/signup']" class="nav-link" routerLinkActive="active" style="color:white;"> new user? create new account</a> 
	</div>
</form>
<router-outlet></router-outlet>
