<h2 style="color:white;"> Sign Up</h2>
<form (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <div class="form-group">
    <label for="inputUsername" style="color:white;">Username</label>
    <input type="text" [(ngModel)]="user.username" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
  <div class="form-group">
    <label for="unputPassword" style="color:white;">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">Sign Up</button>
    <div class="etc-login-form">
       <a [routerLink]="['/signin']" class="nav-link" routerLinkActive="active" style="color:white;">Sign In</a> 
  </div>
</form>